{# empty Twig template #}
{% extends "layout.html.twig" %}
{% block content %}
<div class="jumbotron">
Ceci est une page de test avec paramètre<br>
Le paramètre reçu a la valeur suivante : {{param1}}
</div>
{% endblock %}